---

- name: Fail if required WireGuard Easy settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item }}`).
  when: "vars[item] == ''"
  with_items:
    - wg_easy_identifier
    - wg_easy_uid
    - wg_easy_gid
    - wg_easy_hostname
    - wg_easy_path_prefix
    - wg_easy_container_network
    - wg_easy_environment_variables_additional_variable_wg_host

- when: wg_easy_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required WireGuard Easy Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - wg_easy_container_labels_traefik_hostname
        - wg_easy_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `wg_easy_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if wg_easy_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          wg_easy_container_labels_traefik_path_prefix (`{{ wg_easy_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/wg-easy`).
      when: "wg_easy_container_labels_traefik_path_prefix != '/' and wg_easy_container_labels_traefik_path_prefix[-1] == '/'"
